.logo {
    color: var(--title-text-color);
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;

    @include table {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
    }

    @include desktop {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 91px;
    }
}

.logo__text {
    color: var(--accent-text-color);
    font-family: Raleway;
    letter-spacing: 0.03em;
}

.logo__white {
    color: var(--primary-text-color);
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.lg {
    padding: 16px 0;
}