.menu-container {
    padding: 48px 40px;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;
    
    background-color: var(--primary-text-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;

    gap: 32px;
}

.mobile-nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-text-color);
    }
}

.mobile-nav-link.current {
    color: var(--accent-text-color);
}

.mobile-address-item {
    margin-bottom: 32px;
}

.mobile-address-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    
    letter-spacing: 0.02em;
    text-decoration: none;  
}

.mail {
    font-size: 24px;
    line-height: 1.17;
    color: var(--accent-color);
}

.tel {
    font-size: 27px;
    line-height: 1.18;
    color: var(--accent-text-color);

    @include mobile {
    font-size: 34px;
    }
}

.mobile-social-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.mobile-social-item {
    display: flex;
}

.mobile-social-item:not(:last-child)::after {
    margin-left: 10px;
    margin-right: 10px;
    content: '';
    display: block;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
}

.mobile-social-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);

    &:hover,
    &:focus {
        color: var(--hover-color-btn);
    }

    @include mobile {
        font-size: 18px;
    }
}