.page-header__menu--btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    @include table {
        display: none;
    }
}

.page-header__menu--icon {
    fill: var(--black);
    width: 40px;
    height: 40px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__menu--icon:hover,
.page-header__menu--icon:focus {
    fill: var(--blue);
}

.menu-container {
    position: relative;
}

.menu-toggle {
    display: flex;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding: 6px;

    fill: var(--black);
    background-color: transparent;
    border: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover,
.menu-toggle:focus {
    cursor: pointer;
    color: var(--blue);
}