.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @include mobile {
    width: 480px;
    }
    @include table {
    width: 768px;
    }
    @include desktop {
    width: 1200px;
    }
}

.container-header {
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    @include mobile {
    width: 480px;
    }
    
    @include table {
    width: 768px;
    }
    
    @include desktop {
    width: 1200px;
    }
}

.container-footer {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    text-align: center;

    width: 100%;

    @include mobile {
    width: 480px;
    }
    
    @include table {
    width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    }
    
    @include desktop {
    width: 1200px;
    flex-direction: row;
    text-align: left;
    margin-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    }
}

.container__footer--contact {
    margin: 60px 0;

    @include table {
    margin: 0;
    }

    @include desktop {
    margin: 0;
    }
}

.container__footer--join {
    @include table {
    margin-right: 74px;
    margin-top: 0;
    }

    @include desktop {
    margin: auto;
    }
}

.container__footer--follow {
    @include table {
    padding-top: 60px;
    margin: 0 auto;
    }
    @include desktop {
    padding-top: 0;
    }
}